// =============================================================================
// ADD YOUR CUSTOM STYLES AFTER THE "MARKER LINE" BELOW IN THIS FILE !!!
// =============================================================================

// ATTENTION: No other styles should come before Normalize.css!

// Render all elements more consistently and in line with modern standards.
@import "normalize/normalize";

// A simple and lightweight mixin library for Sass.
@import 'bourbon/bourbon';

// Add a dash of pre-defined style to your Bourbon.
@import "bitters/bitters";

// A semantic, fluid grid framework on top of Sass and Bourbon.
@import "grid-settings";
@import "neat/neat";

// MARKER LINE --> /////////////////////////////////////////////////////////////

$base-link-color: $base-font-color;
$hover-link-color: $base-font-color;

// TODO: This shouldn't be here, but for some reason overriding values above
// didn't suffice, so I had to copy this stuff from bitters/_typography.scss
a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

body {
    padding-top: golden-ratio($gutter, 2);
    text-align: center;
}

#slogan {
    font-family: "ff-enzo-web";
    font-size: golden-ratio($base-font-size, 3);
    line-height: golden-ratio($base-line-height, 0);
}
